/* ------- modo dark --------- */

.dark,
.dark header,
.dark .servicos,
.dark .dropdown-menu {
  background-color: #0a0a0a;
}

.dark #cabeçalho {
  box-shadow: 0 0.2rem 1rem #404040;
  background-color: #0a0a0a;
}

.dark h1,
.dark h2,
.dark h4,
.dark p {
  color: #fff;
}

.dark #img {
  display: block;
}

.dark {
  color: #ffff;
}

.dark img {
  display: none;
}

.dark #img-mododark {
  display: block;
  margin-bottom: 15px;
}

.dark,
.dark header,
.dark .pagina,
.dark .formLogin {
  background-color: #0a0a0a;
}

.dark .form-senha input {
  background-color: #383c3d;
  border: 1px solid #bababa;
  color: white;
}

.dark ::placeholder {
  color: white;
}

.dark #botao {
  margin-bottom: 10px;
}

.dark .redefinir-senha input[type="submit"] {
  border: none;
  margin-top: 1%;
}

.dark .redefinir-senha input:focus {
  border: 1px solid #0084db;
}

.dark .redefinir-senha input[type="submit"] {
  border: none;
}

.dark .redefinir-senha {
  box-shadow: 0 0.2rem 1rem #6e6e6e;
}

.dark p {
  color: #ffffff;
  margin-bottom: 50px;
  margin-top: -20px;
}

.dark .redefinir-senha p {
  color: #cccccc;
  margin-top: 20.7px;
}

.dark .formLogin a {
  color: #d1d1d1;
}

.dark .redefinir-senha ::placeholder {
  color: white;
}

.dark .bi-eye-fill {
  color: white;
}

.dark .bi-circle-half {
  color: white;
}

.dark .bi-circle-half:hover {
  color: white;
}

#img-mododark {
  display: none;
}

.dark #botao-reset {
  margin-top: -50px;
}

.bi-circle-half {
  font-size: 1.4rem;
  color: #ffffff;
  cursor: pointer;
  display: block;
  position: fixed;
  right: 190px;
  top: 0;
  padding: 36px;
}

.bi-circle-half:hover {
  color: #70c8ff;
}

.dark .bi-circle-half:hover {
  color: #70c8ff;
}


/* ------ menu com dados do usuario dark ----- */

.dark .dropdown-menu-user {
  background-color: #0a0a0a;
}

.dark .btnn {
  background-color: #0a0a0a;
}



/* ------ menu com dados do usuario dark ----- */


/* ------ menu com dados do usuario ----- */

strong {
  font-weight: bold;
  color: white;
}

.dropdown-user {
  margin-right: 20px;
}

.dropdown-menu-user {
  width: 300px;
  position: fixed;
  background-color: #373737;
  padding: 10px;
  border-radius: 3px;
  margin-top: -40px;
  top: 5;
  right: 0;
  outline: none;
}

#dropdownMenuButton {
  float: right;
  margin-left: px;
  margin-top: -70px;
  box-shadow: none;
}

button#userButton:focus,
.user-button:focus {
  outline: none;
  box-shadow: none;
}

#dropdownMenuButton:hover {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.user-greeting {
  margin-left: 30px;
}

.user-greeting h2 {
  font-size: 13px;
  font-weight: 100;
  margin-left: 10px;
  text-align: center;
  margin-bottom: -8px;
  white-space: nowrap;
}

.bi-person-circle {
  float: left;
  margin-right: 3px;
  margin-top: -21px;
  font-size: 28px;
  color: white;
}

.dropdown-content p {
  color: #fffefe;
  text-align: left;
  display: block;
  font-size: 13px;
  margin-left: 10px;
}

.dropdown-item {
  margin-left: -2%;
  font-size: 13px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.dropdown-item:hover {
  color: #70c8ff;
}

#nome {
  color: #3d3d3d;
  font-weight: bolder;
  white-space: nowrap;
  text-align: left;
  margin-left: 5px;
  padding: 5px;
}

#cpf {
  margin-bottom: 17px;
  border-bottom: #9b9a9a 1px solid;
}


#email{
  top: 5px;
}

#username {
  margin-top: 10px;
}

.borda-nome {
  width: 280px;
  height: 28px;
  margin-left: 0px;
  margin-top: 15px;
  background-color: #f3f3f3;
  padding: 2px;
  border-radius: 2px;
}


.dropdown-content {
  display: none;
}

.show {
  display: block;
}

/* ------ menu com dados do usuario ----- */

/* ------ acessibilidade letra ----- */

#btnAumentar {
  outline: none;
  border: none;
  background-color: #373737;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.2rem;
  float: right;
  right: 315px;
  top: 38px;
  position: absolute;
}

#btnAumentar:hover {
  color: #70c8ff;
}

#btnDiminuir {
  outline: none;
  border: none;
  background-color: #373737;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.6rem;
  float: right;
  right: 269px;
  top: 32px;
  position: absolute;
}

.dark #btnDiminuir {
  background-color: #0a0a0a;
}

.dark #btnAumentar {
  background-color: #0a0a0a;
}

#btnDiminuir:hover {
  color: #70c8ff;
}

.bi-type {
  color: #ffffff;
  font-size: 1.7rem;
  float: right;
  right: 290px;
  top: 32px;
  position: absolute;
}

.bi-type:hover {
  color: none;
}

/* ------ acessibilidade letra ----- */

/* -------- header ----------*/

#cabeçalho {
  background-color: #373737;
  box-shadow: 0 0.2rem 1rem #cfcfcf;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

#img {
  width: 240px;
  height: 50px;
  border-radius: 2px;
  margin-top: 20px;
  margin-left: 40px;
}

#cabeçalho .bi-type:hover {
  color: white;
}

.menu-opcoes a {
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.menu-opcoes a:hover {
  color: #70c8ff;
}


.menu1 {
  float: right;
  margin-top: 40px;
  padding-right: 350px; 
}

.menu-opcoes ul li {
  display: inline;
  margin-left: 35px;
  margin-right: 20px;
  font-size: 15px;
}

.bi-box-arrow-in-right {
  color: white;
}


#sair:hover {
  box-shadow: none;
}


.dropdown-menu {
  position: absolute;
  display: none;
  background-color: #373737;
  border-radius: 3px;
  margin-left: -90px;
  border: none;
  z-index: 10;
}

.dropdown-menu a {
  display: block;
  color: #fff;
  font-size: 15px;
  width: 200px;
  height: 40px;
  margin-left: 20px;
}

.dropdown-menu #first {
  margin-top: 40px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.area-mobmenu,
.material-symbols-outlined {
  display: none;
}

/* ------ seta drop menu ------- */

.dark .btn {
  background-color: #0a0a0a;
  color: white;
  text-decoration: none;
}

.dark .menu1 {
 margin-top: -35px;
}

.btnn {
  background-color: #373737;
  color: white;
  text-decoration: none;
  border: none;
  font-weight: bolder;
  cursor: pointer;
  font-size: 15px;
}

.btn:hover {
  color: #70c8ff;
}

.dropdown:hover .dropdown-menu {
  display: block;
  text-decoration: none;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.2em;
  vertical-align: 0.17em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  color: white;
}

/* ------ seta drop menu ------- */

/* ^^^^^^^ modo dark ^^^^^^^^ */

html,
body {
  background-color: #ebf5fa;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.borda-erro {
  border: 1px solid #f5c6cb;
  padding: 5px;
  background-color: #f8d7da;
  color: #721c24;
  width: 230px;
  margin-left: 80px;
  margin-top: -25px;
  margin-bottom: 8px;
  border-radius: 5px;
  display: none;
}

.error-message {
  color: #721c24;
  text-align: center;
  font-size: 14px;
  white-space: nowrap;
  display: block;
}

.borda-sucesso {
  border: 1px solid green;
  padding: 5px;
  background-color: #ebf5fa;
  width: 230px;
  margin-left: 80px;
  margin-top: -25px;
  margin-bottom: 8px;
  border-radius: 5px;
  display: none;
}

.success-message {
  color: green;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  display: block;
}

.dark .container {
  background-color: black;
}

.container {
  background-color: white;
  flex-direction: column;
  border-radius: 10px;
  border-style: solid 4px;
  height: 370px;
  width: 460px;
  padding: 37px;
  margin-top: 170px;
  box-shadow: 0 0.2rem 1rem #cfc9c9;
  gap: 6px;
}

input[type="checkbox"] {
  display: none;
}

#botao {
  background-color: #0274be;
  color: #ffffff;
  width: 165px;
  font-size: 15px;
  font-weight: 600;
  padding: 8px;
  transition: all linear 160ms;
  cursor: pointer;
  display: block;
  margin: 0pt;
  border-radius: 5px;
  margin-left: 15%;
  margin-top: 6px;
  border: none;
}

#botao:hover {
  transform: scale(1.05);
  background-color: #0084db;
}

#botao-reset {
  background-color: #0274be;
  color: #ffffff;
  width: 165px;
  font-size: 15px;
  font-weight: 600;
  padding: 8.4px;
  transition: all linear 160ms;
  cursor: pointer;
  display: block;
  margin: 0pt;
  border-radius: 5px;
  margin-left: 110%;
  margin-top: -39.4px;
  border: none;
}

#botao-reset:hover {
  transform: scale(1.05);
  background-color: #0084db;
}

.form-senha input {
  padding: 8px;
  width: 400px;
  font-size: 14px;
  border: 1px solid #ccc;
  margin-left: 5px;
  margin-bottom: 25px;
  margin-top: 5px;
  border-radius: 4px;
  transition: all linear 160ms;
  outline: 0;
}

.form-senha input:focus {
  border: 1px solid #0084db;
}

.form-senha img {
  height: 40px;
  width: 220px;
  margin-left: 88px;
  margin-bottom: 28px;
  margin-top: -10px;
  top: 30px;

}

h2 {
  white-space: nowrap;
  text-align: center;
  margin-left: 25%;
  margin-top: -10px;
  font-size: 28px;
}

h6 {
  font-weight: 600;
  white-space: nowrap;
  text-align: center;
  margin-left: 56%;
  color: #5e5e5e;
  line-height: 16px;
  margin-bottom: 20px;
}

p {
  text-align: center;
  white-space: nowrap;
  color: #3b3b3b;
  font-size: 14px;
  margin-left: 30px;
  margin-bottom: 40px;
}

.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #b04a4a;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  z-index: 9999;
}
       
.overlay {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 -webkit-backdrop-filter: blur(40px); /* Safari */
 backdrop-filter: blur(40px);
 z-index: 9998;
}

/* media query responsividade  */

@media (max-width: 576px) {
  .container {
    width: 400px;
    margin-top: 150px;
  }

  .form-senha img {
    margin-left: 16%;
  }

  h2,
  h6,
  p {
    margin-left: -3%;
  }

  .form-senha input {
    width: 350px;
  }

  #botao {
    margin-top: 6px;
    margin-left: 5%;
    display: block;
    width: 150px;
  }

  #botao-reset {
    margin-left: 53%;
    width: 150px;
  }

  .borda-erro {
    margin-left: 15%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .form-senha input {
    margin-top: 6px;
  }

  h2,
  h6,
  p {
    margin-left: -3%;
  }

  #botao {
    display: block;
    margin-left: 7%;
  }

  #botao-reset {
    margin-left: 52%;
  }
}

/* media query responsividade  */
